.head, .footer {
    background: black;
    height: 50px;
    color: white;
    width: 100%;
    text-align: center;
}
.body {
    height: 650px;
}
.center {
    margin: 20px;
}
body {
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
.head p:hover {
    background-color:red;
    height: 100%;
    margin: 0;
}
.aside {
    background-color: #d7d1d1;
}
.aside p {
    text-align: center;
}
.aside p a {
    color: blue;
}
button {
    width: 85%;
    height: 60px;
}
#foot {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.row {
    display: flex;
}
.col-l-1 {
    width: 8.33333%;
}
.col-l-2 {
    width: 16.66667%;
}
.col-l-3 {
    width: 25%;
}
.col-l-4 {
    width: 33.33333%;
}
.col-l-5 {
    width: 41.66667%;
}
.col-l-6 {
    width: 50%;
}
.col-l-7 {
    width: 58.33333%;
}
.col-l-8 {
    width: 66.66667%;
}
.col-l-9 {
    width: 75%;
}
.col-l-10 {
    width: 83.33333%;
}
.col-l-11 {
    width: 91.66667%;
}
.col-l-12 {
    width: 100%;
}